<%- include('../layouts/header.ejs') %>

    <%- include('../users/userHeader.ejs') %>
<script>
  $('.set-bg').each(function () {
    var bg = $(this).data('setbg');
    $(this).css('background-image', 'url(' + bg + ')');
});  
</script>

        <!-- Hero Section Begin -->
        <section class="hero">
            <div class="hero__slider owl-carousel">
            <% banners.forEach(banner => { %>
                <div class="hero__items set-bg " data-setbg="/upload/banner/<%= banner.image %>">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-5 col-lg-7 col-md-8">
                                <div class="hero__text">
                                    <h6>Summer Collection</h6>
                                   
                                    <p><%=banner.description%>.</p>
                                    <a href="/product" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                    <div class="hero__social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>

            </div>

           
            
        </section>
        <!-- Hero Section End -->

 
        <section class="product spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-9 mt-lg-0">
                        <ul class="filter__controls">
                            <li class="active" data-filter="*">Best Sellers</li>
                            <li data-filter=".new-arrivals">New Arrivals</li>
                            <li data-filter=".hot-sales">Hot Sales</li>
                        </ul>
                    </div>
                    
                </div>
                <div class="row product__filterjustify-content-center  justify-content-center">
                    <% if(products && products.length> 0 ) {%>

                        <% for(let i=0; i < products.length ;i++) { %>

                            <div class="col-lg-4 col-md-4 col-12  m-0 product__item<%= products[i].onOffer == true ? 'new-arrivals' : '' %>" style="max-width: 262px;">

                                <div class="product__item">
                                    <div  group-id="<%=products[i].groupingID%>"
                                        
                                        class="product__item__pic set-bg add-hover mt-1" data-id="bg-render"
                                        data-for-bg="/upload/products/<%=products[i].images[0]%>"
                                        style="background-size: cover;background-position: top;
                                        background-repeat: no-repeat;">



                                        <ul class="product__hover">
                                            <li><a href="" onclick="addToWishlist('<%=products[i]._id%>')"><img src="img/icon/heart.png" alt=""></a></li>
                                            <li><a href="#"><img src="/img/icon/compare.png" alt="">
                                                    <span>Compare</span></a>
                                            </li>
                                         <li><a href="/sproducts_page/<%=products[i]._id %>"><img src="img/icon/search.png" alt=""></a></li> 
                                        </ul>
                                    </div>
                                    <div class="product__item__text">
                                        <h6>
                                            <%=products[i].name%>
                                        </h6>

                                        <button class="nav-link"><a href="/sproducts_page/<%=products[i]._id %>"
                                                class="">+
                                                Add to cart</a></button>

                                        <div class="rating">
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>

                                        <div class="d-flex product__text2">
                                            <h5 class="  w-100">

                                                <span class="mr-3" <% if(products[i].onOffer &&
                                                    products[i].rateOfDiscount>0){ %>


                                                    style="color:grey;text-decoration: line-through;"

                                                    <%}%>
                                                        >
                                                        ₹ <%=products[i].price%>
                                                </span>




                                                <% if(products[i].onOffer && products[i].rateOfDiscount>
                                                    0){ %>


                                                    ₹ <%=products[i].offerPrice%>
                                            </h5>

                                            <%}%>


                                        </div>




                                    </div>
                                </div>
                            </div>

                    
                    <%}%>

                    <%}%>
                </div>
            </div>
        </section>

        

        



        <!-- Instagram Section Begin -->
        <section class="instagram spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="instagram__pic">
                            <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-1.jpg"></div>
                            <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-2.jpg"></div>
                            <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-3.jpg"></div>
                            <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-4.jpg"></div>
                            <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-5.jpg"></div>
                            <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-6.jpg"></div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="instagram__text">
                            <h2>Instagram</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua.</p>
                            <h3>#RTrends</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Instagram Section End -->

        <!-- Latest Blog Section Begin -->
        <section class="latest spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <span>Latest News</span>
                            <h2>Fashion New Trends</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-10 ">
                        <div class="blog__item">
                            <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-1.jpg"></div>
                            <div class="blog__item__text">
                                <span><img src="img/icon/calendar.png" alt=""> 16 February 2020</span>
                                <h5>What Curling Irons Are The Best Ones</h5>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-10 ">
                        <div class="blog__item">
                            <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-2.jpg"></div>
                            <div class="blog__item__text">
                                <span><img src="img/icon/calendar.png" alt=""> 21 February 2020</span>
                                <h5>Eternity Bands Do Last Forever</h5>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-10 ">
                        <div class="blog__item">
                            <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-3.jpg"></div>
                            <div class="blog__item__text">
                                <span><img src="img/icon/calendar.png" alt=""> 28 February 2020</span>
                                <h5>The Health Benefits Of Sunglasses</h5>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Latest Blog Section End -->




        <%- include('../users/userFooter.ejs') %>
<script src="js/main.js"></script>
            <%- include('../layouts/footer.ejs') %>

            <script>
       function addToWishlist(productId) {
        event.preventDefault();
        fetch('/addToWishlist', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ productId })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Failed to add product to wishlist');
            }
            return response.json();
        })
        .then(data => {
            console.log(data); // Handle success response (optional)
            alert('Product added to wishlist successfully');
        })
        .catch(error => {
            console.error('Error adding product to wishlist:', error);
            alert('Failed to add product to wishlistssss',error);
        });
    }
               
            </script>    
            <script>
                // Function to filter products based on data-filter attribute
                document.addEventListener('DOMContentLoaded', function () {
               
                    function filterProducts(filterValue) {
    const products = document.querySelectorAll('.product__item'); // Select all product items

    products.forEach(product => {
        if (filterValue === '*' || product.classList.contains(filterValue)) {
            product.style.display = 'block'; // Show products that match the filter or show all if filter is '*'
        } else {
            product.style.display = 'none'; // Hide products that do not match the filter
        }
    });
}

            });
            </script>
            