<%- include('../layouts/header.ejs') %>

    <%- include('../users/userHeader.ejs') %>
        <main class="main h-auto mb-5 d-flex justify-content-center">
            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17 mt-2 mx-5 w-75 mb-4 d-flex justify-content-center"
                style="background-image: url('/img/login-bg.jpg');
      ">


                <div class="bg-white w-50 p-5 my-5">

                    <h2 class="text-center font-weight-bold m-3">Enter Your New Password</h2>



                    <!-- Pills content -->

                    <div class="tab-content">
                        <div class="" id="pills-login" role="tabpanel" aria-labelledby="tab-login">

                            <div id="resetPasswordForm"></div>
                          


                        </div>





                    </div>
                </div>





            </div>
            <!-- End .login-page section-bg -->
        </main>
        <!-- End .main -->





        <%- include('../users/userFooter.ejs') %>



            <%- include('../layouts/footer.ejs') %><script>
                // JavaScript code to generate the form dynamically
                document.addEventListener('DOMContentLoaded', function() {
                    const token = '<%= token %>'; // Assuming token is passed to the template from the server
                    const formContainer = document.getElementById('resetPasswordForm');
                    const form = document.createElement('form');
                    form.action = `/password-reset/${token}`; // Set the action attribute dynamically
                    form.method = 'post';
                    form.innerHTML = `
                        <div class="form-group">
                            <label for="password">New Password</label>
                            <input type="password" id="password" name="password" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password</label>
                            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
                        </div>
          
                        <button type="submit" class="btn btn-dark btn-block mb-4">reset password</button>
                    `;
                    formContainer.appendChild(form);
                });
            </script>
            